{% extends "layout.html" %}

{% block title %}
    Book reviews
{% endblock %}

{% block body %}
    <h1>'{{ book.title }}' by {{ book.author }}</h1>
    <h2>Published in {{ book.year }} (ISBN: {{ book.isbn }})</h2>
    <!-- space for error message -->
    {% if error %}
      <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> {{ error }}
      </div>
    {% endif %}

    <br>

    <!-- your previous review OR space for you to leave a review -->
    {% if myreview %}
      <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
          <p><b>Your review:</b> {{ myreview.review }}</p>
          <p><b>Your rating:</b> {{ myreview.rating }}</p>
        </li>
      </ul>

      {% else %}

      <form action="{{ url_for('book', isbn = book.isbn) }}" method="post">
        <div class="form-group">
          <label for="review">Enter your review:</label>
          <textarea class="form-control" name="review" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label>Select rating:</label>
          <select class="form-control" name="rating">
              <option rating="1">1</option>
              <option rating="2">2</option>
              <option rating="3">3</option>
              <option rating="4">4</option>
              <option rating="5">5</option>
          </select>
        <button type="submit" class="btn btn-primary">Click to Select</button>
        </form>
    <br>
    {% endif %}

    <br>

    <!-- other reviews on site -->
    {% if reviews %}

      {% for review in reviews %}
        {% if review.userid==userid %}
        {% else %}
        <ul class="list-group">
          <li class="list-group-item">
            <p><b>{{ review.username }}'s review:</b> {{ review.review }}</p>
            <p><b>{{ review.username }}'s rating:</b> {{ review.rating }}</p>
          </li>
        </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
    <!-- goodbooks reviews -->

    <br>

    {% if goodrating %}
    <div class="card" style="width: 12rem;">
      <img class="card-img-top" src="https://s.gr-assets.com/assets/doodle/choice_awards_2018/desktop_gr_logo.png" alt="Goodreads">
      <div class="card-body">
        <p class="card-text">This book has {{goodcount}} reviews on Goodreads and an average rating of {{goodrating}}.</p>
      </div>
    </div>
    {% endif %}

{% endblock %}
